.make-appointment {
    background-image: url("../../../images/make-appointment.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
}

.make-appointment::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(36, 41, 73);
    opacity: .8;
    top: 0;
}

.make-appointment img {
    height: 550px;
    transform: translateY(-130px);
}

.text-aria {
    transform: translate(-10px);
}